a {
	color: #111;
}

article {
	display: inline-block;
}

article.post {
	padding: 16px;
	margin: -5px -4px;
	max-width: 787px;
	min-height: 320px;
	border-bottom: 0 solid #333;
	background-size: cover;
	background-repeat: no-repeat;
}

article.post:after {
	height: 0;
	width: 0;
}

article.post:nth-child(2) {
	background-color: #d1d1d1;
	width: 70%;
}

article.post:nth-child(3) {
	background-color: #dbdbdb;
	width: 30%;
}

article.post:nth-child(4) {
	background-color: #dbdbdb;
	width: 30%;
}

article.post:nth-child(5) {
	background-color: #d1d1d1;
	width: 70%;
}

.post-template article.post {
	margin: 48px auto;
	display: block;
}

.article-inner {
	display: table;
	width: 100%;
	height: 100%;
	min-height: 320px;
	text-align: center;
}

.article-inner > * {
	color: rgba(51,51,51, .8);
	text-shadow: 0px 0px 0.4px rgba(51,51,51, 0.8);
}

.article-inner-content {
	display: table-cell;
	vertical-align: middle;
}

.main-header-content > * {
	color: rgba(51,51,51, .8);
	text-shadow: 0px 0px 0.4px rgba(51,51,51, 0.8);
}

.post-meta,
.post-meta a {
	color: rgba(51,51,51, .6);
}

.post-date {
	border-left: 1px solid rgba(51,51,51, .6);
}

.post:after {
	height: 0;
	width: 0;
	border: 0 solid #333;
}

.content#content {
	max-width: 1200px;
	margin: auto;
}

.main-header {
	margin-bottom: -5rem;
}

.site-wrapper {
	background-color: transparent;
}

.main-header {
	background-color: transparent;
	height: 100%;
}

.main-nav.overlay {
	z-index: 12;
}

.vertical {
	display: table;
	width: 100%;
	height: 100%;
}

.main-header-content.inner {
	display: table-cell;
	vertical-align: middle;
}

.extra-pagination.inner {
	background-color: #fff;
	width: 100%;
	max-width: 1200px;
	margin: 0 -4px;
	padding: 16px 3px 16px 4px;
}

#content .pagination-bottom {
	margin-top: 96px;
}

.author-profile {
	background-color: #fff;
	padding: 140px 15px;
	margin: -72px auto;
	max-width: 1180px;
	width: 100%;
}


@media (max-width: 320px) {

article.post {
	margin: -5px 0;
	padding: 0;
}

article.post:nth-child(2) {
	background-color: #333;
	width: 100%;
}

article.post:nth-child(3) {
	background-color: #4d4d4d;
	width: 100%;
}

article.post:nth-child(4) {
	background-color: #4d4d4d;
	width: 100%;
}

article.post:nth-child(5) {
	background-color: #333;
	width: 100%;
}

}